@model ApplicationCore.Models.MovieDetailsResponseModel

<style>
    #poster {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:60%
    }
    #section {
        background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(@Model.BackdropUrl)
    }
    #title {
        text-align:center;
    }
</style>

<section class="container" id="section" >
    <div class="row">
        
        <div class="col-lg-4">
            <img src="@Model.PosterUrl" id="poster" alt="@Model.Title"/>
        </div>
        <div class="col-lg-5">
            <h4 id="title">@Model.Title</h4>
            <span>@Model.Tagline</span> <br />
            <span>@Model.RunTime m | @Model.ReleaseDate.ToString().Substring(6, 5)</span> <br />
            <span>@Model.Rating</span> <br />
            <br />
            <div>
                <p>@Model.Overview</p>
            </div>

        </div>
        <div class="col-lg-3">
            review buttom <br />
            trailer buttom <br />
            buy buttom <br />
            watch movie buttom
        </div>
            
    </div>
</section>
